<ul>
  <% comments.each do |comment| %>
    <% unless comment.id.nil? %>
      <li>
        <p>user:<%= comment.user.username %> content:<%= comment.content %></p>
      </li>
    <% end %>
  <% end %>
</ul>