<div class="comment-table">
  <table>
    <tr>
      <th>ユーザー名</th>
      <th>内容</th>
    </tr>
    <% comments.each do |comment| %>
      <% unless comment.id.nil? %>
        <tr>
          <td><%= comment.user.username %></td>
          <td><%= comment.content %></td>
          <% if comment.user == current_user %>
            <td><%= link_to '×',comment_path(comment), method: :delete, data: {confirm: "このコメントを削除しますか？"} %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>