<h1><%= current_user.username %>のページ</h1>

<% @participate.each do |p| %>
  <% organizer = User.find(p.battle.user_id) %>
  <%= p.battle.title %>
  <%= p.battle.battle_date %>
  <%= link_to "cancel",participant_management_path(p.id),method: :delete %>
<% end %>