<div class="logo-images">
    <%= image_tag('logo.png',class: "logo-image") %>
    <%= image_tag('logo2.png',class: "logo2-image") %>
</div>
<div class="top-content">
  <h2>SF5 対戦会アプリ</h2>
  <p>このサービスはStreetFighter5の対戦会アプリです。<%= link_to 'ユーザー登録', new_user_registration_path %>後、ログインすると対戦会の作成と参加ができます。</p>
</div>