// Place all the styles related to the battles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* card一枚ごとにmargin-bottomを効かせるために分けてます */
.card-row{
    margin-bottom: 1rem;
}

.card{
    height: 100%;
}
/* white-space,overflow,text-overflowは文字列を一列に抑え、...にするため*/
.card-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-body{
    position: relative;
    min-height: 100%;
}

.card-text{
    padding-bottom: 2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-body .action-menu{
    position: absolute;
    bottom: 1rem;
}

.battle-info{
    padding-bottom: 2rem;
}

/*showアクション内table */
.battle-info td{
    text-align: right;
}